body,
window {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
}

#tiles {
	top: 0;
	left: 0;
	position: absolute;
}

#tiles img {
	position: absolute;
	top: 0;
	left: 0;
}

#overlay {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
